.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary{
    color:#FD6E0A;
}

.dark-1{
   color: #1E1E1E;
}


.dark-2{
    color:#474747 ;
}

.section-title{
   font-weight: bold;
   font-size: 35px;
   color:#181818 ;
}



.section-description{
   font-weight: 600;
   font-size: 18px ;
   color: #757575;
}

.secondary-bg{
   background-color: #FFF8F3;
}

.btn-primary{  
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border:none;
    padding: 18px 35px;
    border-radius: 5px;

}
 /* header style */

 .header{
   background-image: url('images/developer.png'),url('images/header_bg.png');
   background-repeat: no-repeat;
   background-position: top  left, bottom right;
    
 }


 /* nav styles */
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
 }

 .nav-title{
    font-weight: 800;
    font-size: 45px;
 }
 
 nav ul {
    display: flex;
    align-items: center;
 }





 nav ul li{
    list-style-type: none;
    margin-right: 20px;
 }

 nav ul li a {
    text-decoration: none;
    font-size: 20px;
 }

 /* banner styles */

 .banner{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 35px 0  200px;
 }

 .banner-content{
   width: 585px;
 }


 .banner-greeting{
   font-size: 45px;
    font-weight:600px;
 
 }

 .banner-title{
    font-weight: bold;
    font-size: 85px;
 }

 .banner-profil-pic{
   width: 584px;
 }

 /* main section   */
main{
   max-width: 1140px;
   margin: 0 auto;
}





 /* section  */

 .about{
  border-radius: 10px;
  padding: 130px 150px ;
 text-align: center;
 margin-top: 130px;

 }