
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* header title style start */
 nav{
   display: flex;
    justify-content:space-between;
}

nav ul{
    display: flex;
    list-style-type: none;
     
}
nav ul li a{
    text-decoration: none;
    margin: 10px;
}


.header-title-color{
    color:#FD6E0A;
}